<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <h3>My bookings</h3>
      <ul class="list-group">
        <% @my_bookings.each do |booking| %>
          <li class="list-group-item">
            <%= render 'bookings/message', booking: booking %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-6 offset-6">
      <h3>Customer bookings</h3>
      <ul class="list-group">
        <% @customer_bookings.each do |booking| %>
          <li class="list-group-item">
            <%= render 'bookings/message', booking: booking %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




