<ul class="list-group">
   <% @bookings.each do |booking| %>
  <li class="list-group-item">
   <%= render 'message', booking: booking %>
  </li>
  <% end %>
</ul>

   <%= link_to "Back to vehicles", vehicles_path %>
