<% photo_path = vehicle.photo ? cl_image_path(vehicle.photo.path, height: 300, width: 400, crop: :fill) : image_path('placeholder.png') %>

<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= photo_path %>')">
  <div class="card-description">
    <h2><%= vehicle.brand %></h2>
    <p><%= vehicle.model %></p>
  </div>
</div>
