<div class="footer">
  <span> <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-helmet.png" %>
  <% end %>©copyright HELMETT 2017</span>

  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>

</div>
